.labels-container > label {
  font-weight: bold;
  font-size: large;
  
}

.reconciliation-gap-container {
  border-style: groove;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px ;

}
.labels-container{
  margin: 0px 20px 40px 50px;
  display: flex;
  padding: 20px;
  padding-bottom: 0px;
  justify-content: space-between;
}
.subtitle {
  font-weight: bold;
  text-align: center;  
  background-color: #9e9d9d; 
}